.show-hide-password {
    position: absolute;
    z-index: 10;
    right: 7px;
    top: 23px;
    cursor: pointer;
}
.login-page .card-login .card-body {
    padding:0 !important;
}
.card .card-body .col-form-label{
    padding-top: 15px !important;
}

.card .card-body .col-form-label >i{
    padding-right: 15px;
}

